.image {
    width: 100%;
    max-width: 100%;
    pointer-events: none;
    cursor: default;
}

/* Disable zoom on small screen, as images are already wide enough */

@media (min-width: 768px) {
    .image {
        cursor: pointer;
        pointer-events: all;
    }
    .image:hover {
        opacity: 0.7;
    }
}

.image-col {
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    padding-left: 0em;
    padding-right: 0em;
}

@media (min-width: 768px) {
    .image-col {
        padding: 0.8em;
    }
}

.image-row {
    margin: 0px;
}

.pictures-container {
    padding-top: 3em;
    padding-bottom: 1em;
    padding-left: 0em;
    padding-right: 0em;
}

@media (min-width: 768px) {
    .pictures-container {
        padding-top: 2em;
        padding-bottom: 3em;
        padding-left: 5em;
        padding-right: 5em;
    }
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.95);
    /* Black w/ opacity */
}

.modal-img-content {
    margin: auto;
    display: flex;
    height: 90%;
    width: auto;
}

.close-modal {
    position: absolute;
    top: 0%;
    right: 0.5em;
    padding: 0.3em;
    color: #f1f1f1;
    font-size: 30px;
    font-weight: bold;
    transition: 0.3s ease;
    opacity: 0.5;
}

.close-modal:hover, .close-modal:focus {
    color: rgb(255, 255, 255);
    text-decoration: none;
    opacity: 1;
    cursor: pointer;
}

/* Next & previous buttons */

.prev, .next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 1em;
    margin-top: -50px;
    color: #f1f1f1;
    font-weight: bold;
    font-size: 20px;
    transition: 0.3s ease;
    user-select: none;
    -webkit-user-select: none;
    opacity: 0.5;
}

/* Position the "next button" to the right */

.next {
    right: 0.5em;
}

.prev {
    left: 0.5em;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover, .next:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
    opacity: 1;
    cursor: pointer;
}

.navbar-text-pictures {
    font-size: 0.9em;
    color: #3f3e3e;
    display: inline;
    font-family: "Proxima Nova", "Times New Roman", serif;
    letter-spacing: 0.07em;
    font-weight: 400;
}

.nav-item-picture {
    display: inline-block;
}

.custom-navbar-pictures {
    padding-top: 1em;
    padding-bottom: 1em;
    background: #ffffff;
    color: #3f3e3e;
    font-family: "Playfair Display", "Times New Roman", serif;
}

.navbar.centered .navbar-inner {
    text-align: left;
}

@media (min-width: 576px) {
    .navbar.centered .navbar-inner {
        text-align: center;
    }
}

.navbar.centered .navbar-inner .nav {
    float: none;
    display: inline-flex;
    vertical-align: middle;
}