@font-face {
    font-family: "Latin Modern";
    src: url("../font/lmroman10-regular.otf");
    font-weight: normal;
}

@font-face {
    font-family: "Latin Modern Demi";
    src: url("../font/lmromandemi10-regular.otf");
    font-weight: normal;
}

@font-face {
    font-family: "Latin Modern";
    src: url("../font/lmroman10-bold.otf");
    font-weight: bold;
}

footer {
    padding: 2.5rem 0;
    margin-top: 40px;
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: #3f3e3e;
    border-top: .05rem solid #e5e5e5;
}

h4 {
    color: #3f3e3e;
    font-family: "Latin Modern Demi", "Times New Roman", serif;
    font-weight: normal;
}

.section-title {
    color: #3f3e3e;
    font-size: 3.4em;
    font-family: "Playfair Display", "Times New Roman", serif;
    font-weight: normal;
}

.normal-text {
    color: #2f2f2f;
    font-size: 1.2em;
    font-family: "Latin Modern", "Times New Roman", serif;
    font-weight: normal;
}

.padding-buffer {
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer-left {
    margin-bottom: 0px;
    padding-left: 0em;
    font-size: 2em;
    font-family: "Playfair Display", "Times New Roman", serif;
    font-weight: normal;
    text-align: left;
}

.footer-right {
    margin-bottom: 0px;
    padding-right: 0em;
    font-size: 1.2em;
    color: #ffffff;
    font-family: "Latin Modern", "Times New Roman", serif;
    font-weight: normal;
    text-align: right;
}

.footer-text-left {
    margin-bottom: 0px;
}

.email {
    padding-right: 5px;
}

.icon-boundary {
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 10px;
}

a.icon:link, a.icon:visited, a.icon:active, a.top-link:link, a.top-link:visited, a.top-link:active, a.email:link, a.email:visited, a.email:active {
    color: #ffffff;
}

a.icon:hover, a.top-link:hover, a.email:hover {
    color: #9b9b9b;
}

.custom-navbar {
    background: #3f3e3e;
    color: #ffffff;
    font-family: "Playfair Display", "Times New Roman", serif;
}

.navbar-text {
    font-size: 1.2em;
}

.jumbotron-main {
    margin-top: 4em;
    margin-bottom: 3em;
}

.navbar-button {
    height: 1.2em;
    display: inline-flex;
    align-items: center; 
}

.navbar-button-toggler {
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-right: 0em;
    padding-left: 0em;
    color: #ffffff;
}

.navbar-button-toggler:hover {
    color: #9b9b9b;
}

.navbar-button-toggler:hover, .navbar-button-toggler:active, .navbar-button-toggler:focus  {
    outline :none;
    text-decoration: none;
}